body {
    font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
    font-size: 75%;
    padding: 20px;
}

.content {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 6px 1px rgba(50, 50, 50, 0.14);
    box-sizing: border-box;
    color: black;
    line-height: 1.5;
    margin: 5.5em auto 0;
    max-width: 640px;
    padding: 30px 35px 30px 37px;
    width: 100%;
}

.icon {
    -webkit-margin-start: 25px;
    content: -webkit-image-set( url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAQAAABpN6lAAAAOkElEQ…7az+fobVEgq8AB7+fjW6P/9jM8fF0/Hdwvo3ob+Bkdv///Vw8ylx1L+10AAAAASUVORK5CYII=) 1x, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAMAAABrrFhUAAAC/VBMV…X0iO715+xlNJbIDStyiVj0Mvu87hY9yZRsM1ucs6CdvwFhF5OigQu5iQAAAABJRU5ErkJggg==) 2x);
    float: right;
    height: 128px;
    margin-bottom: 10px;
    margin-top: 4px;
    width: 128px;
}

.content > span {
    max-width: 416px;
}

.content > span {
    display: block;
}

h1 {
    font-size: 1.7em;
    font-weight: normal;
    line-height: 1.2em;
    margin-top: 0;
}

a {
    color: rgb(39, 110, 242);
    text-decoration: none;
}

@media (max-width: 700px)
body {
    margin: 1em 2em 2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, p {
    margin-bottom: 20px;
}
h1 {
    line-height: 1.3em;
}
body {
    font-family: Helvetica, Arial;
    font-size: 16px;
    line-height: 1.3em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    margin: 20px auto;
    max-width: 800px;
    padding: 0 20px;
}
footer {
    background-color: #eee;
    padding: 10px;
    text-align: center
}
ul {
    margin-left: 30px;
}
.action, .recognized {
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    width:80%;
}
.action {
    text-align: right;
    background-color: #ddd;
    margin-left:20%;
    border-radius: 5px 5px 0 5px;
}
.action:after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    bottom: 0px;
    right: -17px;
}
.recognized {
    text-align: left;
    background-color: #eee;
    font-weight: bold;
    border-radius: 5px 5px 5px 0;
}
.recognized:after {
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    bottom: 0px;
    left: -17px;
}
.recognized > div:before {
    content: open-quote
}
.recognized > div:after {
    content: close-quote
}
#conversation {
    padding: 20px;
}
#conversation::before {
    content:"";
    height: 1px;
    width: 200px;
    background-color: #ddd;
    display: block;
    margin: 10px auto;
}
#conversation img {
    margin-top: 5px;
}
